# Server configuration
PORT=3000

# PostgreSQL connection details (Neon connection string)
DATABASE_URL=postgresql://neondb_owner:PASSWORD@ep-xxx.neon.tech/neondb?sslmode=require

# JWT Secrets
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=24h
